/corpus/bbc/feed-archived/*.zip
/corpus/bbc/feed/*.json
/corpus/bbc/feed-temp/*.json
/corpus/*/gc/documents/*
/corpus/*/gc/*/*/*
/corpus/*/gc/*
/corpus/*/words/*/*
/corpus/*/words/*/*/*
/generator/.env
/site/data/*/*
*.__pycache__.*
*.pyc